[Desktop Entry]
Name=ucl-study-manager
GenericName=Research Study Application
Comment=Upload your data to UCL
Exec=ucl-study-manager
Terminal=false
Type=Application
StartupNotify=true
Icon=ucl-study-manager
Categories=GTK;Science;
DBusActivatable=false
